h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Reconocer estructura corporal acorde a criterios de patronaje industrial de prendas de vestir.
           




