h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Diseño y Moda', 'main.html#page/moda/')
                    +navTemaItem('2', 'Ficha técnica de diseño (Software de diseño)', 'main.html#page/ficha/')
                    +navTemaItem('3', 'Fundamentación Textil', 'main.html#page/fundamentacion/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')