.container
    .header-ecored
        h1 1.  Diseño y Moda
    .jumbotron.bg-white   
        .sub-ecored.mt-5#tema1_1
            h2 1.1.  Fundamentación de Moda

            p En la actualidad una de las mayores falencias en la industria del sistema moda, es la articulación entre el diseñador (área creativa) y el patronista (área operativa), por lo tanto, es importante realizar al patronista una contextualización en el manejo de terminología y así afianzar la articulación entre las dos áreas.

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_1.png").img-fluid.my-5

        h2.color_tex_1 Evolución de la moda

        p La moda ha ido evolucionando con el pasar de los años teniendo en cuenta diferentes factores que han afectado la sociedad. Quienes han aportado a estos cambios diferenciadores en la moda han dejado una gran huella.

        .jumbotron.jumbo_1
            .header-arrow_1 
                h2.text-center INTRODUCCIÓN
            .row.justify-content-center.align-items-center.mt-5
                .col-auto
                    img(src="assets/images/pages/tema_1/img_2.png").img-fluid
                .col
                    p El vestirse surge desde el momento en que las prendas pasan de ser una obligación de protegerse del clima a convertirse en una necesidad vital.

                    p El vestido muestra la cultura, riqueza y grado de desarrollo de las civilizaciones y da una visión de las condiciones geográficas, económicas y culturales de los pueblos.

        p.color_tex_1 Historia del #[strong vestuario]

        p.mt-5 Es un reflejo de los cambios sociales, políticos y culturales que tienen lugar alrededor del mundo a medida de los años.

        p Conforme el humano ha evolucionado, también lo ha hecho su vestimenta e indumentaria.

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_3.png").img-fluid.my-5

        .row.justify-content-center           
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2.color_tex_2 Período Paleolítico  

                                p Pieles, pelo de animales, hojas, huesos y conchas.
                                
                            .date
                                h3.mb-0 100.000 - #[br]10.000 A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Periodo Mesolítico 
                                p Broches hechos con hueso, abrigos, gorros, botas y zapatillas de cuero.

                            .date
                                h3.mb-0 10.000 - #[br]5.000 A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Periodo Neolítico 
                                p Vestimenta de fibras animales y vegetales telar, pulseras de marfil.

                            .date
                                h3.mb-0 10.000 - #[br]5.000 A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Egipcios
                                p Shenti, con un cinturón de cuero, falda larga. Las sirvientas iban desnudas, Calzado fibras vegetales, cuero trenzado y papiro.
                            .date
                                h3.mb-0 4.000 A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Sumerios
                                p Traje de lujo, faldón, chal, Kaunake, traje militar.
                            .date
                                h3.mb-0 2500 A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Babilonia
                                p Tejedores de lana y de lino, túnica de talle recto y bordes con flecos, larga o corta, borlas y flecos.
                            .date
                                h3.mb-0 2105 A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Creta
                                p Primer corsé, falda sujeta con un cinturón metal cubierto con un delantal, mangas ceñidas, anillos, pulseras y collares.
                            .date
                                h3.mb-0 1700 A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Persas
                                p La prenda típica era una túnica, ropa interior y el bordado de aplicación, calzado anatómico, atados a los tobillos con correas y botones.
                            .date
                                h3.mb-0 Siglo VI A.C.
            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Romanos
                                p Túnica que los hombres usaban hasta las rodillas y las mujeres hasta los pies, bordados en hilos de oro.
                            .date
                                h3.mb-0 Siglo I A.C.

            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Edad media 
                                p Zapatos a la polonesa, doble túnica hasta los pies, manto con broche en el centro, y un velo cubriendo la cabeza.

                            .date
                                h3.mb-0 Siglos V - XV

            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Edad moderna 
                                p Prendas confeccionadas por sastres, faldas acampanadas, cuellos de encaje, crinolina, gorguera, prendas ajustadas, Corsé desde el busto hasta la cadera.
                            .date
                                h3.mb-0 Siglos XV - #[br]XVIII

            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Edad Contemporánea 
                                p Silueta imperio, vestidos delgados y vaporosos, vuelos y encajes en forma de cascada, vestido línea princesa, hombreras. cuello solapa.

                            .date
                                h3.mb-0 Siglos XIX

            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Edad contemporánea 
                                p Silueta reloj de arena, el corsé de metal o de ballenas, faldas largas o blazers, sujetador, - Estética flapper - traje de baño - El uso del pantalón.

                            .date
                                h3.mb-0 Siglo XX

            .col-9       
                .timeline-card-wrapper.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .info-box
                                h2 Edad contemporánea 
                                p Silueta reloj de arena, el corsé de metal o de ballenas, faldas largas o blazers, sujetador, - Estética flapper - traje de baño - El uso del pantalón.

                            .date
                                h3.mb-0 Siglo XXI

        p.color_tex_1.mt-5 Evolución de las #[strong prendas]

        p Las prendas han ido evolucionando con el pasar de los años teniendo en cuenta diferentes factores. Estos factores determinan la decisión que toma cada persona para elegir que ponerse a diario.

        table.table.table-bordered-1.table-striped
            thead
                tr 
                    td(colspan="2").text-center.span_table_1 #[strong FACTORES]

            tbody

                tr
                    td #[strong FÍSICAS]
                    td Clima Edad Estructura Género Salud

                tr
                    td #[strong MODA]
                    td Historia Mercadotecnia Identidad

                tr
                    td #[strong SOCIALES - CULTURALES] 
                    td Clases sociales Labor Religión Trajes Típico

                tr
                    td #[strong PSICOLÓGICOS]
                    td Estados de ánimo, Desórdenes Autoestima
                
                tr
                    td #[strong SEXUALIDAD]
                    td Orientación sexual Indumentaria

        .header-arrow_1.mt-5
            h2.text-center ¿Por qué nos vestimos?

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_4.png").img-fluid

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/1.1_FUNDAMENTACION_DE_MODA.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 1.1 FUNDAMENTACIÓN DE MODA

        .sub-ecored.mt-5#tema1_2
            h2 1.2.  Universos de vestuario

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/CJ2TK01nfBk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Son conceptos de moda que responden a la necesidad de categorizar, segmentar y agrupar prendas de vestir, accesorios e indumentaria con características similares los cuales deben ser articulados según el consumidor o mercado objetivo de cada marca.

            p Cuando se habla de determinantes o factores del ¿por qué? nos vestimos, el mercado no se queda atrás, la segmentación, gamas de mercados, categorización de productos frente a los escenarios de El consumo va de la mano con la categorización de las prendas.

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_5.png").img-fluid

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_6.png").img-fluid

    
        .row.justify-content-center
            .col-md-3.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Principales
                    .card-body.jumbo_1(style='min-height: 205px')
                    
                        p Haute Couture, Pret a Porter, Fast fashion, Slow Fashion

            .col-md-3.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Transitorias
                    .card-body.jumbo_1(style='min-height: 205px')
                    
                        p Vegan Fashion, Ethical fashion, Eco Fashion, Circle fashion 

            .col-md-3.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Haute Couture - Alta Costura
                    .card-body.jumbo_1
                    
                        p Prendas exclusivas a la medida del cliente. Prendas hechas a medida, de forma artesanal. - Chambre de commerce et d'indus trie de Paris 

        .row.justify-content-center
            .col-md-3.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Pret a Porter - Listo para llevar
                    .card-body.jumbo_1(style='min-height: 250px')
                    
                        p Prendas producidas en serie con patrones que se repiten. Industrialización de la moda. No son personalizadas ni exclusivas. - Ready to Wear.

            .col-md-3.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Fast Fashion - Moda rápida
                    .card-body.jumbo_1(style='min-height: 250px')
                    
                        p Trasladar propuestas de grandes casas de diseño, pasarelas a sus tiendas para capturar alguna tendencia, lo más rápido posible. Producción de prendas en tiempos muy cortos a un bajo costo. - Cápsulas.

            .col-md-3.my-6.my-md-0
                .card.color-6.mt-5
                    .header-cop
                        h2.text-center Slow Fashion - Moda Lenta
                    .card-body.jumbo_1(style='min-height: 250px')
                    
                        p Filosofía de consumo responsable. Concienciar sobre el impacto de las prendas de vestir en el medio ambiente, el agotamiento de recursos y la huella que está dejando la industria textil en la sociedad

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_7.png").img-fluid

        h2.color_tex_2.mt-5 Universos de vestuario - Ocasiones de uso

        p Son conceptos que responden a la necesidad de establecer unas categorías bajo las cuales es posible agrupar productos indumentarios de acuerdo con unos parámetros de afinidad y correlación.

        p Están constituidos por conjuntos de prendas de vestir y accesorios con características similares que deben presentarse agrupados coherentemente bajo conceptos de moda y estar articulados según las necesidades específicas del consumidor o mercado objetivo de cada marca.

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_8.png").img-fluid

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                        p.card__copy 
                            span 
                                | Todas las marcas tienen una categorización de producto, la cual en gran parte se basa por las ocasiones de uso y los universos de vestuario, esto permite tener una mejor segmentación dependiendo de las necesidades del consumidor

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/1.2_UNIVERSOS_DE_VESTUARIO-GAMAS_DE_MERCADO.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 1.2 UNIVERSOS DE VESTUARIO - GAMAS DE MERCADO

        .sub-ecored.mt-5#tema1_3
            h2 1.3.  Perfil y estilo de consumidor

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ccdTX9G0mxE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Para el análisis de una marca o mercado se implementan conceptos que responden a la categorización de grupos de personas con características similares, permitiendo así que el producto o servicio sea mucho más específico y certero con el cliente o nicho de mercado.

            p.mt-5.color_tex_1 Análisis del #[strong consumidor]

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_10.png").img-fluid

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_11.png").img-fluid

        .row.justify-content-center 
            section.mt-5

                a(href="media/documentos/1.3_PERFIL_Y_ESTILO_DE_CONSUMIDOR.pdf" target="_blank").media-link      
    
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo]. 1.3 PERFIL Y ESTILO DE CONSUMIDOR

        .sub-ecored.mt-5#tema1_4
            h2 1.4.  Tendencias

            img.mt-5.img-a(src="assets/images/pages/tema_1/img_12.png").img-fluid

            .jumbotron.jumbo_1
                p Las Tendencias son una serie de informes visuales y de contextos que buscan brindar información global para entender qué está pasando en el mundo, Es la predicción del estado de ánimo, comportamientos y hábitos del consumidor, las tendencias mueven las industrias, no solo la industria de la moda, si no las de consumo, servicios, incluso pensamiento. 

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body.jumbo_1                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                        h2.color-text_3 ¿Qué es? 
                        p.card__copy 
                            span 
                                |  Las tendencias buscan entender qué está pasando en el contexto mundial. "Tendencia" significa desarrollarse o cambiar en una dirección general. #[br]Es la predicción del estado de ánimo, comportamientos y hábitos del consumidor.

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body.jumbo_1                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                        h2.color-text_3 ¿Quienes?  
                        p.card__copy 
                            span 
                                | Un grupo de personas dedicadas a ser cazadores de tendencias, los llamados #[strong "coolhunter"] detectar y predecir las novedades que vendrán en los campos de la moda y el consumo.

        p.mt-5.color_tex_1 Características de las #[strong tendencias]

        .row.justify-content-center.mt-5
            .col-3.col-md-4
                .card-media.span_table_1 
                    .card-media__body 
                        h1.card__copy(style='min-height: 60px')
                            span 
                                | 01 Ritmo 
            .col-8.col-md-8
                .card-media
                    .card-media__body.jumbo_2                  
                        p Forma en la que sucede y se alternan una serie de dinámicas, conceptos y sentires que componen la tendencia
        .row.justify-content-center.mt-5
            .col-3.col-md-4
                .card-media.span_table_1 
                    .card-media__body 
                        h1.card__copy(style='min-height: 60px')
                            span 
                                | 02 Información 
            .col-8.col-md-8
                .card-media
                    .card-media__body.jumbo_2                  
                        p Toda la variedad de información que puedan complementar el concepto de la tendencia

        .row.justify-content-center.mt-5
            .col-3.col-md-4
                .card-media.span_table_1 
                    .card-media__body 
                        h1.card__copy(style='min-height: 60px')
                            span 
                                | 03 Diversificación
            .col-8.col-md-8
                .card-media
                    .card-media__body.jumbo_2                  
                        p Diferentes variables en donde se puede manifestarse la tendencia, sus conceptos, y historias

        .row.justify-content-center.mt-5
            .col-3.col-md-4
                .card-media.span_table_1 
                    .card-media__body 
                        h1.card__copy(style='min-height: 38px')
                            span 
                                | 04 Tecnología
            .col-8.col-md-8
                .card-media
                    .card-media__body.jumbo_2                  
                        p Medios por los cuales se revela la información y su implementación

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_13.png").img-fluid

        .jumbotron.jumbo_1

            .header-arrow_1
                h2.text-center ¿Cómo identificar una tendencia?

            .row.justify-content-center.mt-5
                .col-4.col-md-4
                    P #[strong METATENDENCIAS]
                    P “Una metatendencia significa un cambio multidimensional, por oposición a un cambio lineal o secuencial. Son los cambios sustanciales en nuestra estructura socioeconómica.” 

                    P #[strong Blink Design – Laura Novik]

                .col-4.col-md-4
                    P #[strong MACROTENDENCIAS]
                    P Son las tendencias donde se involucran muchas áreas, sistemas productivos y aspectos emocionales.

                .col-4.col-md-4
                    P #[strong MICROTENDENCIAS]
                    P Son las que dan origen a las llamadas “modas pasajeras”, cambian cada temporada, revolucionan el mercado, abren un abanico de posibilidades y promueven el consumo.

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_14.png").img-fluid

        .header-arrow_1
            h2.text-center ¿Quiénes estudian las tendencias?

        .row.justify-content-center.mt-5
            .col-4.col-md-4
                P.text-center #[strong INEXMODA]                   
            .col-4.col-md-4
                P.text-center #[strong PREMIÉRE VISION PARIS ]
            .col-4.col-md-4
                P.text-center #[strong FASHION TRENDSETTER ]
                

        .row.justify-content-center
            .col-4.col-md-4
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_15.png").img-fluid
            .col-4.col-md-4
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_16.png").img-fluid
            .col-4.col-md-4
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_17.png").img-fluid
                

        .row.justify-content-center
            .col-4.col-md-4
                .jumbotron.jumbo_1.mt-5
                    a(href="https://www.inexmoda.org.co/" target="_blank")
                        .media-link-title
                            p https://www.inexmoda.org.co/
            .col-4.col-md-4
                .jumbotron.jumbo_1.mt-5
                    a(href="https://www.premierevision.com/en/" target="_blank")
                        .media-link-title
                            p https://www.premierevision.com/en/
            .col-4.col-md-4
                .jumbotron.jumbo_1.mt-5
                    a(href="https://www.fashiontrendsetter.com/v2/" target="_blank")
                        .media-link-title
                            p https://www.fashiontrendsetter.com/v2/

        .row.justify-content-center.mt-5
            .col-4.col-md-4
                P.text-center #[strong FASHION SNOOP]                   
            .col-4.col-md-4
                P.text-center #[strong WGSN]
            .col-4.col-md-4
                P.text-center #[strong PECLERS PARIS]
                

        .row.justify-content-center
            .col-4.col-md-4
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_18.png").img-fluid
            .col-4.col-md-4
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_19.png").img-fluid
            .col-4.col-md-4
                img.mt-5.img-a(src="assets/images/pages/tema_1/img_20.png").img-fluid
                

        .row.justify-content-center
            .col-4.col-md-4
                .jumbotron.jumbo_1.mt-5
                    a(href="https://www.fashionsnoops.com/" target="_blank")
                        .media-link-title
                            p https://www.fashionsnoops.com/
            .col-4.col-md-4
                .jumbotron.jumbo_1.mt-5
                    a(href="https://www.wgsn.com/es/wgsn/" target="_blank")
                        .media-link-title
                            p https://www.wgsn.com/es/wgsn/
            .col-4.col-md-4
                .jumbotron.jumbo_1.mt-5
                    a(href="https://www.peclersparis.com/fr/" target="_blank")
                        .media-link-title
                            p https://www.peclersparis.com/fr/

        .row
            .col-12
                .quote
                    .quote__bar
                             
                    .quote__text
                        .quote__bar__hr 
                        .row.justify-content-center.mt-5
                            .col-auto
                                img(src="assets/images/pages/tema_1/img_21.png", alt="").img-icon
                            .col
                                p #[strong La clave es:] Identifiquemos los principales factores que afectan el pronóstico de las tendencias.

                                p #[strong Estaciones:] Las tendencias se basan en las estaciones de primavera (spring), verano (Summer), otoño (Autumn) e invierno. (Winter) 
                        .quote__bar__hr.mt-5 
                    .quote__bar

        .row.justify-content-center 
            section.mt-5

                a(href="media/documentos/1.4_TENDENCIAS.pdf" target="_blank").media-link      
    
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo]. 1.4 TENDENCIAS


        .sub-ecored.mt-5#tema1_5
            h2 1.5. Moodboard - Cuadro metamórfico

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/qGikmtv5Sbw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 Los MoodBoards son tableros creativos que permiten visualizar y conceptualizar ideas para el desarrollo de productos o servicios, consiste en recolectar imágenes que muestran lo que se quiere expresar, esta es una forma implementada en las áreas de diseño para dar a conocer las ideas de una manera mucho más dinámica que permite contextualizar a la persona a la que se está entregando la idea.

        .row.justify-content-center.mt-5
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        h2.color-text_3.text-center ¿Qué es un moodboard? 
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                                p.card__copy 
                                    span 
                                        |  Como su nombre lo indica es un tablero de inspiración visual que logra conectar las ideas en un solo espacio por medio visual o físico.

                                p.mt-3 Reúne imágenes, colores, texturas, frases... con la intención de hacer tangible un concepto o un ambiente.
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        h2.color-text_3.text-center ¿Para qué sirve?  
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                                p.card__copy 
                                    span 
                                        | Generar una inspiración conceptual donde se plasman sentimientos o estados de ánimo que desean evocar.
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        h2.color-text_3.text-center ¿Cómo se hace?
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                                p.card__copy 
                                    span 
                                        | Físico - Recortes de revista, texturas, elementos

                                p.mt-3 Digital - Imágenes digitales, complementos

            .col-auto
                img(src="assets/images/pages/tema_1/img_22.png", alt="").img-icon

        p.mt-5.color_text_1 Proceso para desarrollar un #[strong moodboard]

        img.mt-5.img-a(src="assets/images/pages/tema_1/img_23.png").img-fluid

        .jumbotron.jumbo_1.mt-5

            .header-arrow_1
               .row.justify-content-center.mt-5
                    .col-4.col-md-4
                        h2.text-center PALABRAS CLAVES
                    .col-4.col-md-4
                        h2.text-center IMÁGENES
                    .col-4.col-md-4
                        h2.text-center DIAGRAMACIÓN

            .row.justify-content-center.mt-5
                .col-4.col-md-4
                    P.text-center Palabras esenciales, frases y/o conceptos 
                .col-4.col-md-4
                    P.text-center Realiza un banco de imágenes acorde a los conceptos, referentes, paleta de color y demás
                .col-4.col-md-4
                    P.text-center Empieza a hacer la diagramación en tu moodboard, puedes hacerlo lineal o abstracto
                        
            .header-arrow_1
                h2.text-center HIERRAMIENTAS

            .row.justify-content-center.mt-5
                .col-4.col-md-4
                    P.text-center Canva – PowerPoint

        h2.mt-5.color_tex_1 Cuadro metamórfico

        .row.justify-content-center.mt-0
            .col-md-8.my-md-0
                .card.color-6
                    .header-arrow_1
                        h2.text-center ¿Qué es un cuadro metamórfico?
                    .card-body.jumbo_1
                    
                        p Es una metodología de diseño que permite mostrar fácilmente un concepto definido y que se vea reflejado armónicamente en los productos realizados. Metodología tomada del diseño industrial.

        .row.justify-content-center
            .col-md-4.my-md-0
                .card.color-6
                    .header-arrow_1
                        h2.text-center ¿Para qué sirve? 
                    .card-body.jumbo_1(style='min-height: 250px')
                    
                        p Esta metodología permite lograr variedad de diseños rápidamente, facilita la realización de evoluciones y modificaciones de diseño en una colección sin que se pierda la coherencia conceptual

            .col-md-4.my-md-0
                .card.color-6
                    .header-arrow_1
                        h2.text-center ¿Cómo iniciar?
                    .card-body.jumbo_1
                    
                        p Tipologías: Elegir las tipologías a trabajar

                        p.mt-3 Siluetas: Definir el tipo de silueta de la prenda

                        p.mt-3 Visualizar partes de las prendas por separado - Cuellos. bolsillos, mangas, escotes, sistema de cierre, sistema de ajuste

        .row.justify-content-center.mt-0
            .col-md-8.my-6.my-md-0
                .card.color-6
                    .header-arrow_1
                        h2.text-center ¿Cómo se realiza?
                    .card-body.jumbo_1
                    
                        p Se organizan las ideas utilizando un esquema tipo tabla. Para generar varias opciones de cada una de esas partes. (estás siempre deben comunicar el concepto de la marca)

        .row
            .col-12
                .quote
                    .quote__bar
                             
                    .quote__text
                        .quote__bar__hr 
                        .row.justify-content-center.mt-5
                            .col-auto
                                img(src="assets/images/pages/tema_1/img_21.png", alt="").img-icon
                            .col
                                p #[strong La clave es:] Cada variación debe ser coherente con el concepto, las siluetas formas, sensibilidad y demás percepciones definidas en los conceptos.
                        .row.justify-content-center.mt-5
                            .col-auto
                                img(src="assets/images/pages/tema_1/img_25.png", alt="").img-icon
                            .col
                                p #[strong Ejemplo:] 

                                p.mt-3 ¿Cómo hacer que las variaciones basadas en un moodboard sean coherentes con un concepto?

                                p.mt-3 Nota: Todo el texto, tiene imágenes visuales de ref. Las cuales complementan la información entregada - anexar imágenes ppt de referencia.
                        .quote__bar__hr.mt-5 
                    .quote__bar

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/1.5_MOODBOARD_TABLEROS_CREATIVOS_Y_CUADRO_METAMORFICO.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 1.5 MOODBOARD TABLEROS CREATIVOS Y CUADRO METAMÓRFICO

            