.container
    .header-ecored
        h1 2. Ficha técnica de diseño (Software de diseño)
    .jumbotron.bg-white   
        .sub-ecored.mt-5#tema2_1
            h2 2.1. Conceptos de Dibujo Plano

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/L4ZqJiUNoa8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-5 El dibujo plano es una composición de formas bidimensionales que dan o proyectan el prototipo “sketch” de lo que se quiere elaborar, es una técnica implementada en infinidad de áreas, desde la parte productiva permite visualizar lo que busca o quiere la parte creativa desde el desarrollo funcional y de concepto.

        h1.color_tex_2 Dibujo técnico - Dibujo Bidimensional de Prendas de Vestir

        .row.justify-content-center.mt-5
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        .header-cop.span_table_1
                            h2.text-center ¿Qué es el Dibujo Técnico? 
                        .card-media.mt-0
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_2/img_1.png").img-fluid.top_img
                                p.card__copy 
                                    span 
                                        | Conocido como el sistema que representa gráficamente uno o más objetos, con el fin de otorgar información útil para un posible y consecuente análisis que permitirá una próxima construcción o ejecución de un objeto.

        .row.justify-content-center.mt-5
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        .header-cop.span_table_1
                            h2.text-center ¿Qué es el término Bidimensional?
                        .card-media.mt-0
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_2/img_2.png").img-fluid.top_img
                                p.card__copy 
                                    span 
                                        | Es toda aquella figura que está compuesta por dos dimensiones ancho y largo. el Cuadrado, el Triángulo, el Rectángulo, el Círculo, no tienen profundidad son formas que cuando se trazan no involucran ningún tipo de volumen en su diseño.

        h1.mt-5.color_tex_2 Tipos de línea

        .row.justify-content-center.mt-5
            .col-auto
                img(src="assets/images/pages/tema_2/img_3.png").img-fluid
            .col
                p Línea guía: Ejes de simetría
        .row.justify-content-center.mt-5
            .col-auto
                img(src="assets/images/pages/tema_2/img_3.png").img-fluid
            .col
                p Línea sólida: Croquis de prenda
        .row.justify-content-center.mt-5
            .col-auto
                img(src="assets/images/pages/tema_2/img_3.png").img-fluid
            .col
                p Línea intermitente: Pespuntes o costuras

        .row.justify-content-center.mt-5
            .col-md-8.my-md-0
                .card.color-6
                    .header-arrow_1
                        h2.text-center Canon de belleza – proporciones
                    .card-body.jumbo_1
                    
                        p.text-center Diferencias: FIGURÍN - ILUSTRACIÓN - DIBUJO PLANO

        .row.justify-content-center.mt-5
            .col-md-4
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong FIGURÍN]
                        p Representar gráficamente el cuerpo y las prendas, con una expresión viva, un trazo fresco, un movimiento dinámico, una pose elegante y una expresión adecuada al tipo de vestimenta propuesto.
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong ILUSTRACIÓN]
                        p Son dibujos, esquemas, bosquejos, bocetos o pinturas que se hacen relacionados a la moda, pueden ser de modelos, ropa o accesorios prácticamente cualquier objeto o situación relacionada a la industria.
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong DIBUJO PLANO]
                        p Representación detallada de una prenda, es decir se deben identificar todas las características técnicas de la prenda, pespuntes, botones, costuras, pinzas, acabados. No tiene movimiento y se debe identificar delantero y posterior.
            .col-auto
                img(src="assets/images/pages/tema_2/img_4.png").img-fluid

        .row.justify-content-center.mt-5
            .col-md-8.my-md-0
                .card.color-6
                    .header-arrow_1
                        h2.text-center Tipos de trazos - ejercicios de aprestamiento

        .row.justify-content-center.mt-5
            .col-auto
                img(src="assets/images/pages/tema_2/img_5.png").img-fluid
            .col-md-4
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong Posición de escritura -] Para hacer los ejercicios, trabaje siempre con el lápiz en posición de escritura
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong Horizontales -] Alternando de izquierda a derecha y de derecha a izquierda
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong Verticales -] Alternando de arriba hacia abajo y de abajo hacia arriba
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong Diagonales -] Alternando de izquierda a derecha y de derecha a izquierda
                .row.justify-content-center.mt-5
                    .col-auto
                        img(src="assets/images/pages/tema_2/img_3.png").img-fluid
                    .col
                        p #[strong Círculos -] Recuerde no apoyar la muñeca ni la mano

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/2.1_CONCEPTOS_DE_DIBUJO_PLANO.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.1 CONCEPTOS DE DIBUJO PLANO
            
        .sub-ecored.mt-5#tema2_2
            h2 2.2. Categorización de prendas

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-bOMy-Otxnk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .row.justify-content-center.mt-5
                .col-md-5.mt-7
                    p En la segmentación de productos se implementa el término tipología el cual sirve para categorizar de manera básica “logia” por tipo los productos, lo que se busca es identificar características similares que componen el producto y así ir categorizando para facilitar todo el proceso, desde la parte creativa, hasta la parte operativa.En la segmentación de productos se implementa el término tipología el cual sirve para categorizar de manera básica “logia” por tipo los productos, lo que se busca es identificar características similares que componen el producto y así ir categorizando para facilitar todo el proceso, desde la parte creativa, hasta la parte operativa.
                .col-auto
                    img(src="assets/images/pages/tema_2/img_6.png").img-fluid

        h1.color_tex_2.mt-5 Categoría de prendas - Reconocimiento de tipologías

        hr.border-color-primary.border-2

        .row.justify-content-center.mt-5
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        h2.color-text_3 ¿Qué es una tipología?  
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                                p.card__copy 
                                    span 
                                        | Es el estudio de los tipos o modelos que se usan para clasificar diversas cosas.

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_7.png").img-fluid

        .jumbotron.jumbo_1.mt-5

            .header-arrow_1
               h2.text-center División del cuerpo
                    

            .row.justify-content-center.mt-5
                .col-4.col-md-4
                    P #[strong SUPERIOR]
                    p De la cintura hacia arriba 
                .col-4.col-md-4
                    P #[strong PRENDAS SUPERIORES]
                    p Camisa, Blusas, chaquetas, Abrigos, Busos, vestidos, Suéter, Cardigans, Bléiser – Blazer.
            .row.justify-content-center.mt-5
                .col-4.col-md-4
                    P #[strong INFERIOR]
                    p De la cintura hacia abajo
                .col-4.col-md-4
                    P #[strong PRENDAS INFERIORES]
                    p Pantalones, faldas Shorts

        h2.color_tex_1 #[strong Bitácora de formas] - Glosario técnico

        .row.justify-content-center.mt-5
            .col-3.col-md-4
                .card-media.span_table_1 
                    .card-media__body 
                        h1.card__copy(style='min-height: 38px')
                            span 
                                | 01 Pinzas 
            .col-8.col-md-8
                .card-media
                    .card-media__body.jumbo_2                  
                        p Pinza sencilla, Doble Pinza, Pinza por sisa Corte diagonal, Pinza por Escote
        .row.justify-content-center.mt-5
            .col-3.col-md-4
                .card-media.span_table_1 
                    .card-media__body 
                        h1.card__copy(style='min-height: 38px')
                            span 
                                | 02 Cortes 
            .col-8.col-md-8
                .card-media
                    .card-media__body.jumbo_2                  
                        p Princesas, francés, Corte horizontal y vertical, Canesú con corte vertical

        .row.justify-content-center.mt-5
            .col-3.col-md-4
                .card-media.span_table_1 
                    .card-media__body 
                        h1.card__copy(style='min-height: 38px')
                            span 
                                | 03 Talles
            .col-8.col-md-8
                .card-media
                    .card-media__body.jumbo_2                  
                        p Talle Alto. Talle Medio, Talle Bajo
        
        .row.justify-content-center.mt-5
            .col-8.col-md-12
                .card-media
                    .card-media__body.jumbo_2                  
                        p Cuellos - puños - puños - bolsillos de parche - bolsillos de ribete - pantalón - largos - bolsillos - talles – detalles


        .sub-ecored.mt-5#tema2_3
            h2 2.3. Técnica de achurados y acabados

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Z1Nw8wHo4Pc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/2.3_DIBUJO_PLANO-TIPOLOGIAS.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.3 DIBUJO PLANO - TIPOLOGÍAS

        .sub-ecored.mt-5#tema2_4
            h2 2.4. Dibujo de bitácora de formas

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yAAjTH6Iqps', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/2.4_PLANTILLAS_DE_FIGURIN_PARA_DIBUJO_PLANO.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.4 PLANTILLAS DE FIGURIN PARA DIBUJO PLANO

        .sub-ecored.mt-5#tema2_5
            h2 2.5. Dibujo plano de prendas

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/OmHxpe672CE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-63jLUDcD3A', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/6vHHvi0SyG8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/2.5_DIBUJO_PLANO_DE_PRENDAS.docx" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.5 DIBUJO PLANO DE PRENDAS

        .sub-ecored.mt-5#tema2_6
            h2 2.6. Análisis de proporciones prendas superiores e inferiores

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/pplVy9Q_Xbs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VSs7283X4b4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/2.6_ANALISIS_DE_PROPORCIONES_PRENDAS_SUPERIORES_E_INFERIORES.docx" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.6 ANÁLISIS DE PROPORCIONES PRENDAS SUPERIORES E INFERIORES

        .sub-ecored.mt-5#tema2_7
            h2 2.7. Interfaz programa CAD

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/US1wYvokhO4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/0fd5IDrJt1I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center.mt-5
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_2/img_8.png").img-fluid
                                p.card__copy 
                                    span 
                                        | Para el desarrollo de dibujos planos, se implementan software que permiten agilizar y detallar de manera más certera un producto, para la implementación de software, se hace necesario una serie de licencias que permiten la implementación legal del mismo, el SENA como institución cuenta con el acceso a licencias que permite que los aprendices, accedan sin ningún inconveniente.

        .row.justify-content-center 
            section.mt-5

                    a(href="https://senacmtc.wixsite.com/modacorel/tutoriales" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_navegacion.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong https://senacmtc.wixsite.com/#[br]modacorel/tutoriales]

        .sub-ecored.mt-5#tema2_8
            h2 2.8. Ficha técnica

            .embed-responsive.embed-responsive-16by9.mt-5
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/x5BjZVrjorY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .row.justify-content-center.mt-5
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_2/img_9.png").img-fluid
                                p.card__copy 
                                    span 
                                        | Son documentos en los cuales se describe de manera detallada la información técnica de un producto, por lo general se documenta la información operativa de cada uno de los procesos por los que pasa el producto, dichos documentos serán consultados de manera constante para validar que el proceso si corresponde al requerimiento.

        h2.color_tex_2.mt-5 Ficha técnica – introducción 

        .row.justify-content-center
            .col
                .row.justify-content-center.mt-5

                    .col-10.col-md-8
                        h2.color-text_3.text-right ¿Qué es una tipología? 
                        .card-media
                            .card-media__body.jumbo_1                 
                                figure.card__figure
                                    img(src="assets/images/pages/tema_1/img_9.png").img-fluid
                                p.card__copy 
                                    span 
                                        | Son documentos que contienen la información necesaria para la fabricación de un producto. dichos documentos serán consultados en los distintos procesos de producción. Los datos para incluir deben ser detallados.

        h2.color_tex_2.mt-5 Tipos

        p Según el volumen, la cantidad y rigurosidad de la producción en cumplir parámetros de calidad se decide los diferentes requerimientos técnicos que debe llevar la ficha técnica.

        .row.justify-content-center
            .row.justify-content-center.mt-5
                .col-auto
                    img(src="assets/images/pages/tema_2/img_10.png").img-fluid
                .col.mt-6
                    p #[strong FICHA TÉCNICA DE DISEÑO]
                    p #[strong FICHA TÉCNICA DE PATRONAJE]
                    p #[strong FICHA TÉCNICA DE INSUMOS]
                    p #[strong FICHA TÉCNICA DE ESCALADO]
                    p #[strong FICHA TÉCNICA DE CORTE]
                    p #[strong FICHA TÉCNICA DE CONFECCIÓN]
                    p #[strong FICHA TÉCNICA DE EMPAQUE]

        img.mt-5.img-a(src="assets/images/pages/tema_2/img_11.png").img-fluid

        h2.color_tex_2.mt-5 Ficha técnica – requerimientos

        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body.jumbo_1                 
                        figure.card__figure
                            img(src="assets/images/pages/tema_2/img_12.png").img-fluid
                        p.card__copy 
                            span 
                                | Los formatos de ficha técnica no tienen un esquema definido, por el contrario, son completamente ajustables al tipo de información que se considere necesaria para el tipo de producción a realizar.


        h2.color_tex_2.mt-5 Socialización de formatos

        .row.justify-content-center 
            section.mt-5

                    a(href="media/documentos/2.8_INTRODUCCION_A_FICHA_TECNICA.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo]. 2.8 INTRODUCCIÓN A FICHA TÉCNICA